<%- include('layout.ejs'); %>

    <center>
        <h1>Seja bem vindo, <%= locals.name %>, com permissões de administrador</h1>
    </center>

    <div id="users-list">
        <% for(let i=0; i < data.length; i++) {%>

            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="width: 50px;">
                    <%= data[i].pro_id %>
                </li>
                <li class="list-group-item" style="width: 300px;">
                    <%= data[i].pro_nome %>
                </li>
                <li class="list-group-item" style="width: 500px;">
                    <%= data[i].pro_data_fabr %>
                </li>
                <li class="list-group-item">
                    <%= data[i].preco %>
                </li>
                <li class="list-group-item">
                    <%= data[i].marca %>
                </li>
            </ul>

            <%}%>
    </div>




    <br>
    <script>
        function delete_user(id) {
            fetch(`/home/users/${id}`, {
                method: 'DELETE'
            })
                .then(response => {
                    response.json()
                    window.location.href = '/home/users'
                })
                .then(data => console.log(data))
        }
    </script>
    </body>

    </html>